.site-header {
    background-color: $color-blue;
    color: $color-white;
    padding: $spacing;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;

    &__logo {
        display: block;
        height: 1em;
        width: auto;
        svg {
            height: 100%;
            * {
                fill: $color-white;
            }
        }
    }
}